@font-face {
    font-family: 'Arial';
    src: url('fonts/arial/subset-ArialMT.eot');
    src: url('fonts/arial/subset-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/arial/subset-ArialMT.woff2') format('woff2'),
        url('fonts/arial/subset-ArialMT.woff') format('woff'),
        url('fonts/arial/subset-ArialMT.ttf') format('truetype'),
        url('fonts/arial/subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Arial', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
}
.header1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}
.logo {
    font-size: 50px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    font-family: "Lato - Black";
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    margin: 36px 0px 47px 0px;
}
.logo-lite {
    color: #2aacc8;
    font-family: "Lato - Regular";
}
.nav-menu {
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
    margin-top: 52px;
    margin-bottom: 54px;
}
.menu-last {
    margin-right: 18px;
}
.nav-menu-name {
    text-decoration: none;
    color: #000000;
}
.nav-submenu {
    display: none;
    position: absolute;
    padding-left: 17px;
    left: 0px;
    padding-top: 36px;
    padding-bottom: 20px;
    z-index: 10;
}
.subname {
    text-transform: none;
    font-size: 13px;
    line-height: 36px;
}
.head-logo {
    float: left;
}
.nav {
    float: right;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
.submenu {
    display: block;
    width: 154px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #e7e7e7;
}
.sub1 {
    border-top: none;
}
.menu3 {
    position: relative;
    padding: 0px 27px 0px 12px;
    margin-top: 47px;
    margin-bottom: 36px;
    border-top: 5px solid #e8ebf1;
}
.menu3:hover .nav-submenu {
    display: block;
    background-color: #ffffff;
    border-bottom: 5px solid #2aacc8;
}
.menu3:hover {
    background-color: #ffffff;
    border-top: 5px solid #2aacc8;
}
.menu3:hover .nav-menu-name {
    color: #2aacc8;
}
.menu3:hover .subname {
    color: #000000;
}
.submenu:hover .subname {
    color: #2aacc8;
}
.strelka::after {
    content: '';
    background-image: url(images/down_arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 5px;
    margin-left: 10px;
}
.container {
    max-width: 1020px;
    margin: 0px auto;
}
/*header 2 */
.header2-block {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.12);
    background-color: #e05936;
    margin-bottom: 40px;
}
.header2-text {
    width: 294px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
}
.heder2-float-left {
    float: left;
    margin: 102px 0px 119px 61px;
}
.header2-images {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header2 {
    background-color: #81e4ed;
    padding-top: 20px;
}
.img2 {
    position: relative;
}
.img1 {
    position: relative;
    left: 88px;
    bottom: 27px;
}
.button {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    margin-top: 12px;
    margin-bottom: 14px;
    border: none;
    background-color: #81e4ed;
}
/*main*/
.main {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}
.card {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-right: 44px;
    margin-bottom: 51px;
}
.card4 {
    margin-right: 0px;
}
.card-title {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
.card-title::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    background-image: url(images/Shape_2.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-right: 19px;
    margin-bottom: 19px;
}

.card-text {
    width: 216px;
    color: #363636;
    font-size: 13px;
    line-height: 20px;
}
.card-link {
    color: #2aacc8;
    text-decoration: none;
}
.card-link::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 7px;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    margin-right: 8px;
}
.title2::before {
    content: '';
    display: inline-block;
    background-image: url(images/fullscreen.png);
}
.title3::before {
    content: '';
    display: inline-block;
    background-image: url(images/view_list.png);
}
.title4::before {
    content: '';
    display: inline-block;
    background-image: url(images/plane_2.png);
}
/*main2*/
.title-list-h6 {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
.title-list-h6::before {
    content: '';
    display:  inline-block;
    width: 14px;
    height: 24px;
    background-image: url(images/Shape_3.png);
    vertical-align: middle;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.button1 {
    display: inline-block;
    background-image: url(images/Shape_1.png);
    background-color: #81e4ed;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
.b2 {
    background-image: url(images/Shape_1_copy.png);
    margin-left: 11px;
}
.title-list {
    float: left;
}
.buttons {
    float: right;
    margin-top: 21px;
}
.border-float {
    border-bottom: 1px solid  #dfe1e5;;
}
.image1 {
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.img4 {
    margin-right: 0px;
}
.images {
    border-bottom: 1px solid #dfe1e5;;
}
.image-list {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

.image-sub {
    width: 35px;
    height: 25px;
    margin-bottom: 27px
}
.image2-sub {
    width: 20px;
    height: 26px;
    margin-bottom: 27px
}
.image1-list {
    display: inline-block;
    vertical-align: top;
}
.img-list {
    width: 220px;
    height: 81px;
    background-color: #2aacc8;
}
